/* 1. New Work Sans Import */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

:root {
  --amc-navy: #0A0B49;
  --amc-cyan: #14D7E7;
  --amc-strip: #D8D8D8;
}

body {
  /* Updated to only use Work Sans */
  font-family: 'Work Sans';
  @apply bg-white text-black;
}